{{define "content"}}
<div class="login-page">
	<div class="form">
		<p class="message">Add Ration</p>
		<form class="" method="post" action="/add-ration">
			<select name="packet_type" class="form-control">
				<option value="">Packet Type</option>
				<option value="food">Food</option>
				<option value="water">Water</option>
			</select>
			<input type="text" name="content" value="" placeholder="Packet Content">
			<input type="text" name="calories" value="" placeholder="Calories">
			<input type="text" name="expiry_date" value="" placeholder="Expiry Date">
			<input type="text" name="litre" value="" placeholder="Quantity in Litres">
			<button>Add</button>
			<p class="message">Home <a href="/">Home</a></p>
			</form>
	</div>
</div>
{{end}}