{{define "content"}}
<div class="login-page1" style="color: #fff">
	<div >
		<p>View Inventory</p>
		<a href="/">Home</a>
		<table border="1">
			<thead>
				<th>Id</th>
				<th>Packet Type</th>
				<th>Packet Content</th>
				<th>Calories</th>
				<th>Expiry Date</th>
				<th>Quantity in Litres</th>
				<th>Action</th>
			</thead>
			<tbody>
				{{ range index . 0 }}
				<tr>
					<td>{{.Id}}</td>
					<td>{{.PacketType}}</td>
					<td>{{.Content}}</td>
					<td>{{.Calories}}</td>
					<td>{{.ExpiryDate}}</td>
					<td>{{.Litre}}</td>
					<td><a href="/delete?id={{.Id}}">Delete</a></td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>
{{end}}